HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### FE ###
node_modules/
.vite
frontend/dist

### Secrets / credentials
.env
.env.local
# You should NEVER use .env files for production envs! But just in case it's better to also ignore this file name to prevent commiting it to git repo
.env.production

### Local / private (user-specific) Claude settings.
# Should be ignored but I commit it as an example.
# .claude/settings.local.json
